{% extends "events_app_b/base.html" %}

{% block content %}
  {% for event_and_attendees in all_events_dtl %}
    <h2>{{ event_and_attendees.event.event_date|date:"l jS F Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

    <a class="btn btn-default" href="{% url "event_booking" pk=event_and_attendees.event.pk attendance='bookinto'%}">
    <span>Click here to book into this event</span></a>

    <a class="btn btn-default" href="{% url "event_booking" pk=event_and_attendees.event.pk attendance='leave' %}">
    <span>Click here to leave this event</span></a></h2>

    <h2 class="item">{{ event_and_attendees.event.event_details|linebreaks }}</h2>

    <h2>Attendees</h2>
    <h2 class="attendees">{{ event_and_attendees.attendees }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <h2>___________________________________________________________________________________________________________</h2>
  {% endfor %}
{% endblock content %}
