<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en"> 
<head>
<title>Diary</title>
  <meta property='site_name'   content='Diary' />
  <meta property='title'   content='Diary' />
  <meta property='description'   content='Diary' />
  <meta http-equiv='Content-Type'   content='text/html; charset=utf-8'/>
  <!--
  [if lt IE 9]>   <script src='html5shiv.js'>   </script>   <![endif]
  -->
  <style>
       em   { font-style: normal; color: red; }
       body {padding-left:18px;color:GreenYellow;background-color:Black;font-family:arial;font-weight:bold;}
       p {color:GreenYellow;padding-left:18px}
       h3 {color:Yellow}
       h3.date {color:Yellow}
       h4 {color:Gold ;}
       h5 {color:White;}
       a {color:Yellow;padding-left:18px}
       td {padding-left:18px}
       tr   {font-weight:bold;}
   </style>
</head> 

<!--
LINKS
<a  href="http://www."  
target="_blank">  </a>

<a href="http://html-color-codes.info" title="HTML color codes">HTML color codes</a> 
 <h3 class="date"> Wednesday 01 April 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3>
PP DYh WongKei
<h3 class="date"> Monday 17 August 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3>
PP ph JSv<br>
</p> 
-->

<body>


<h3 id="top" style="color:Yellow">
Top
</h3>


    <a style="color:PowderBlue;" href="#Jan16"  > Jan16 </a>
    <a style="color:PowderBlue;" href="#Apr16"  > Apr16 </a>
    <a style="color:PowderBlue;" href="#Jul16"  > Jul16 </a>
    <a style="color:PowderBlue;" href="#2017"  > 2017 </a> 
    
<br><br>

    <a style="color:PowderBlue;" href="#Monday"  > Monday </a> 
    <a style="color:PowderBlue;" href="#Tuesday"  > Tuesday </a> 
    <a style="color:PowderBlue;" href="#Wednesday"  > Wednesday </a> 
    <a style="color:PowderBlue;" href="#Thursday"  > Thursday </a> 
    <a style="color:PowderBlue;" href="#Friday"  > Friday </a> 
    <a style="color:PowderBlue;" href="#Saturday"  > Saturday </a> 
    <a style="color:PowderBlue;" href="#Sunday"  > Sunday </a> 
    <a style="color:PowderBlue;" href="#Shops"  > Shops </a> 

    <a style="color:Aqua;" href="http://html-color-codes.info/color-names/"  target="_blank"> HTML color names </a>


<h3 class="date"> Undated </h3> <p>
WL bill.  <br>
Deal with reggy.  <br>
PP lyc register? get gmail a/c, payment card.  <br>
OG JaneE. a.alone 45-60min. both soon after twice 3-4hr. the 8 both at 6 monthly intervals. dementia.<br>
PP  claim hmrc refund.<br>
OTH note ph call from nels. 11/05 and reply 02/06. etc.<br>
OTH note 121<br> 
OTH ? bill to ken to hl<br>
OTH chk emails.<br>
OTH ? before today topup o2 #10 page 42 <br>
PP ? Sell car.<br>
PP bm expires. renew?<br>
OTH reply Rachel.<br>
OTH register prepmc2<br>
OTH upgrade Oprepmc3<br>
OTH open$99<br>
OTH hotel<br>
ESG Sikh, events ? 12/07 <br>
PP ? tell YBc re CWr.<br>
</p>
<hr><!-- --------  ---------------------------------------------------------- -->

<h3 class="date"> Wednesday 21 October 2015 </h3><p>
OG 11:30 foyer. Jacks.<br>
IT 18:30 TPLG skillsmatter.<br>
PP chk harrystock.uk. re 01/10/15.<br> 
IT check North Kent.<br>
ESG pay in for MaSh,<br>
 
<h3 class="date"> Thursday 22 October 2015 </h3><p>
PP 600<br>
OG 698.72<br>
IT 14:00-18:00 LondonJS. bkdin<br> 
HCP 20:15 cttee RMr.<br>
ESG 20:00 guiz Grange.<br>
 
<h3 class="date"> Friday 23 October 2015 </h3><p>
HDON 20:00 Bella Italia. LHw bday meal. I give lift.<br>
SL TBu or MDk to sign cheque<br>
PP GPn chemo.<br>


<h3 class="date"> Saturday 24 October 2015 </h3><p>
PP 600<br>
HCP 20:30 Gate.<br>
CHISW Halloween disco.<br>

<h3 class="date"> Sunday 25 October 2015 </h3><p>
PP BST ends.<br>
LHw birthday 1976</p>
WL CSc 14:00 Eastcote walld garden.<br>

<hr><!-- --------  ---------------------------------------------------------- -->

<h3 class="date"> Monday 26 October 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3> <p>
Copy ph contacts to sd, rename <br>
Connect usb. Open diary with browser.<br>
Chk
<a href="http://uk.yahoo.com"  target="_blank"> yahoo-sp </a>
<a  href="http://mail.aol.co.uk"  target="_blank"> aol-sp </a> 
<a  href="http://www.outlook.com"  target="_blank"> outlook-sp, hotmail 
<a  href="http://www.gmail.com"  target="_blank"> contrast </a> <br>
Chk
<a  href="http://www.hsbc.co.uk"  target="_blank"> HSBC </a>
<a  href="https://onlinebanking.nationwide.co.uk/AccessManagement/Login"  target="_blank"> Nationwide </a>
<a  href="https://www.halifax-online.co.uk/personal/logon/login.jsp"  target="_blank"> Halifax </a>
<a  href="https://www.santander.co.uk/"  target="_blank"> Santander </a>
<a  href="http://www.co-operativebank.co.uk/"  target="_blank"> 72334102 </a>
<a  href="http://www.bankofbarodauk.com/NBank/"  target="_blank"> Baroda </a>
<a  href="https://www.capitaloneonline.co.uk/"  target="_blank"> Capital One </a>
<a  href="http://www.barclaycard.co.uk/"  target="_blank"> Barclaycard </a>
<a  href="https://www.paypal.com/uk"  target="_blank"> PayPal </a> <br>
Open diary with Vim and update then close.<br> 
Bkp since 1910 14:50 from home <br>
Bkp diary diet slp phone.vcf.  </p> <p>
PP 600<br>
OG 13:30 computer<br>

<h3 class="date"> Tuesday 27 October 2015 </h3> <p>
SL club night. Black Horse.<br>
WL PGg Orchard. 20:30.<br>

<h3 class="date"> Wednesday 28 October 2015 </h3>
PP 600<br>
WL book for Fri.<br>

<h3 class="date"> Thursday 29 October 2015 </h3>
OG film  ? marigold 700/730

<h3 class="date"> Friday 30 October 2015 </h3>
WL JohnH 20:00 pizza.<br>

<h3 class="date"> Saturday 31 October 2015 </h3><p>
HCP RMr halloween. bkdin. take savoury.<br>
WL 20:00 MOs board games.<br>
ESG pay xmas.<br>

<h3 class="date"> Sunday 01 November 2015 </h3><p>
PP 600<br>
ESG Griffin quiz.<br>

<hr><!-- ------------------------------------------------------------------ -->

<h3 class="date"> Monday 02 November 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3>
PP ph CWr 4 weeks

 <h3 class="date"> Tuesday 03 November 2015 </h3> <p>
IT pydata waitlist<br>
PP 600<br>
    
<h3 class="date"> Wednesday 04 November 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3>
<p>
SL SGg expires.
</p>

 <h3 class="date"> Thursday 05 November 2015 </h3> <p>
PP 600<br>
PP o2 int card, 89 days since use. use to keep it valid.  </p> 
PP 13:00 Avice Plus, Green Man Cafe, Singapore Road.<br>

 <h3 class="date"> Friday 06 November 2015 </h3> <p>
PLUS Wash.<br>

<h3 class="date"> Saturday 07 November 2015 </h3>
<p>
PP 600<br>
WLOG 09:30 Shepherds Bush. not bkdin.<br>
PP AA renewal.<br>
HCP organizer dues due.</p>
<hr><!-- ------------------------------------------------------------------ -->


 
<h3> Monday 09 November 2015 </h3><p>
OG Southall meal<br>
 


<h3>Wednesday 11 November 2015 </h3><p>
PP £10 Lebara.<br>

 <h3 class="date"> Friday 13 November 2015 </h3> <p>
PP GPn chemo.<br>
HCP 19:30 comfort hotel Andre 50th. not booked in.<br>

 <h3 class="date"> Saturday 14 November 2015 </h3> <p>
ESG Persian Palace. WaitList.<br>
<hr><!-- ------------------------------------------------------------------ -->

 
<h3 class="date"> Tuesday 17 November 2015 </h3><p> 
OG 14:30 Diwali party<br>

<h3 class="date"> Wednesday 18 November 2015 </h3><p>
PP Mbu 18:00 Market Porter 9 Stoney Street SE1 9AA.<br>
	
 <h3 class="date"> Thursday 19 November 2015 </h3><p> 
OG Kimberley Bailey<br>

<h3 class="date"> Friday 20 November 2015 </h3> <p>
HLTH Isenberg 13:00<br>
<hr><!-- ------------------------------------------------------------------ -->


 
<h3 class="date"> Monday 23 November 2015 </h3> <p> 
OG cttee 10:30<br>


<h3 class="date"> Tuesday 24 November 2015 </h3> <p>
SL  19:45 Vine.<br>

<h3 class="date"> Wednesday 25 November 2015 </h3><p>
LWd birthday 1954.<br>
IT JavaSc. bkdin<br>

<h3 class="date"> Thursday 26 November 2015 </h3>
<p>
KMc birthday 1986
</p>
<hr><!-- ------------------------------------------------------------------ -->





<h3 class="date"> Friday 04 December 2015 </h3>
PP GPn chemo.<br>
OG Red Lion & Pineapple<br>
ESG 19:30 Xmas event.<br>

<hr><!-- ------------------------------------------------------------------ -->
<h3 class="date"> Saturday 12 December 2015 </h3><p>
HCP RMr party.bkdin savoury.<br>


<hr><!-- ------------------------------------------------------------------ -->

<h3 class="date"> Wednesday 16 December 2015 </h3>
<p>
SL ?
</p>

 
<h3 class="date"> Saturday 19 December 2015 </h3><p>
HCP 19:30 Orama. bkdin.<br>


<hr><!-- ------------------------------------------------------------------ -->
 
 <h3 class="date"> Monday 21 December 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3> 
 
 <h3 class="date"> Friday 25 December 2015 </h3>
PP GPn chemo.<br>
BankH<br>

 <h3 class="date"> Sunday 27 December 2015 </h3>
PP prepmc1 3m.<br>

<hr><!-- ------------------------------------------------------------------ -->

 <h3 class="date"> Monday 28 December 2015 </h3>
<p>
PP BankH
</p> 

<h3 class="date"> Tuesday 29 December 2015 </h3> <p>
SL  ? 19:45 Vine.<br>
 
<h3 class="date"> Thursday 31 December 2015 </h3>
<p>
PP william last day
</p>
 
<h3 class="date"> Sunday 03 January 2015 </h3>
ESG 11:00 Dawn Limeyard. Waitlist.<br>

<hr><!-- ------------------------------------------------------------------ -->



<h6 id="Jan16"></h6>

<h3 class="date"> xxxday 04 January 2016 <a style="color:PowderBlue;" href="#top">Top</a></h3>
PP prepmc3-238 3m.<br>
    
 <h3 class="date"> Friday 15 January 2015 </h3>
PP GPn chemo.<br>

<h3 class="date"> Friday 22 January 2016 <a style="color:PowderBlue;" href="#top">Top</a></h3>
<p>
driv.lic expires
</p>
<hr><!-- ------------------------------------------------------------------ -->

<h3 class="date">xxxday 06 February 2016</h3>
<p>
SL HSt expires.
</p>
<hr><!-- ------------------------------------------------------------------ -->
	
 <h3 class="date"> xxxday 29 February 2016 <a style="color:PowderBlue;" href="#top">Top</a></h3> 
PP 12th 3min/6month black phone.<br>





 <h3 class="date"> xxcday 02 March 2016 </h3>
12th blackphone 3min 6m<br>


 <h3 class="date"> xxcday 09 March 2016 </h3>
<p>
LRw birthday
</p> 

<hr><!-- ------------------------------------------------------------------ -->
<h6 id="Apr16"></h6>
  
<h3 class="date"> xxxday 03 April 2016 </h3>
<p>
PP Reggy birthday. 
<br>
PP sainsb expires.
</p>

<hr><!-- ------------------------------------------------------------------ -->
	
 <h3 class="date"> Wednesday 27 April 2016 </h3>
<p>
PP JSv bday.
</p> 


<h3 class="date"> Saturday 30 April 2016 </h3>
<p>
5ysantander-basic card expires
</p>
<hr><!-- ------------------------------------------------------------------ -->

<h3 class="date"> xxxday 26 June 2016 </h3>
 
<p>
ESG renew memb. gbp1.25.
</p>
 
<h3 class="date"> xxxday 30 June 2016 </h3><p>
PP car tax expires.</p>

<h6 id="Jul16"></h6>

<h3 class="date"> xxxday 01 July 2016 </h3><p>
PP Car insurance expires</p>

<h3 class="date"> xxxday 03 July 2016 </h3> <p>
MOT expires </p>


<h3 class="date"> xxxday 01 August 2016 </h3> <p>
? SL CDv expires<br>

<h3 class="date"> xxxday 07 August 2016 </h3> <p>
RWr birthday 1979.<br>

<h3 class="date"> xxxday 25 August 2016 </h3> <p>
OG one year since check up BHn.  <br>






<h3 class="date"> Wednesday 07 September 2016 </h3>
<p>

3y baroda expires
</p>
<hr><!-- --------------------------------------------------------------- -->

<h3 class="date"> Tuesday 13 September 2016 </h3>
<p>
5y EHIC card expires
</p>
<hr><!-- --------------------------------------------------------------- -->

<h3 class="date"> Saturday 22 October 2016 </h3>
<p>
3y baroda expires
</p>
<hr><!-- --------------------------------------------------------------- -->


 <h6 id="2017"></h6>
    
<h3 class="date"> Monday 31 July 2017 <a style="color:PowderBlue;" href="#top">Top</a></h3>
<p>
3y Halifax card expires
</p>
<hr><!-- --------------------------------------------------------------- -->

<h3 class="date"> xxxday 30 November 2017 </h3>
<p>
3y Coop db card expires
</p>
<hr><!-- --------------------------------------------------------------- -->

<h3 class="date"> xxxday 28 February 2018</h3>
<p>
CapitalOne card expires
</p>
<p>
3y halifax-easycash card expires
</p>
<hr><!-- --------------------------------------------------------------- -->

 <h3 class="date"> xxxday 30 April 2018</h3> 
 <p>
3y barclaycard expires
</p> 
<hr><!-- --------------------------------------------------------------- -->

 <h3 class="date"> xxxday 31 October 2018</h3> 
PP 3y hsbc card expires<br>
<hr><!-- --------------------------------------------------------------- -->

<h3 class="date"> xxxday 30 November 2018 </h3>
<p>
4y Santander db card expires
</p>
<hr><!-- -------------------------------------------------------------------- -->

<h3 class="date"> Sunday 30 June 2019 </h3>
 
<p>
5y nationwide card expires.
</p>
<hr><!-- -------------------------------------------------------------------- -->

<h3 class="date"> xxxday 31 March 2020 </h3>
 
<p>
5y freedom pass expires
</p>
 <hr>

<h3 class="date"> xxxxxx 28 February 2025 </h3>
<p>
passport renew
</p>
<hr><!-- --------------------------------------------------------------------------- -->
    <a style="color:PowderBlue;" href="#top"> Top </a>




</body>
<!--
<h3 class="date"> Sunday 23 November 2014 </h3>
<p>
PP CWr phoned.
</p>
<p>
OG Meal. Red Lion &amp; Pineapple. 
</p>
<h3 class="date"> Thursday 27 November 2014 </h3>
<p>
OG 10.00am social cttee 10.30 computer club AGM. 
</p>
<h3 class="date"> Saturday 29 November 2014 </h3>
<p>
SL 7:30pm-12:00am Hayes Cricket Club, Faye birthday, 07760 403164
</p>
<h3 class="date"> Saturday 13 December 2014 </h3>
<p>
HCP 7.30pm Xmas meal Frankie and Benny Harrow. 
</p>
<p>
BNT Peter&amp;Corinna Illingworth party. 7.00pm LRw.
</p>
<h3 class="date"> Monday xx January 2015</h3>
<p>
PP 7.00 BCle comes.
</p>
<p>
cards LHw KHl PGg CWr JSv FMk MaSh.  LWd MBu DYh GPn MPr LRw RBm.
</p>
<h3 class="date"> Wednesday 18 February 2015 <a style="color:PowderBlue;" href="#top">Top</a></h3>
<p>
PP 12.30 for 02.30am Etihad.
</p>
 
-->

 <h3 id="Libraries">Libraries</h3> 
 <h4> ealing     039 585 522 yob+93</h4>
 ealing central
 <br>mon, fri, sat      0900-1700
 <br>tues, wed            0900-1900
 <br>thurs               0900-2000
 <br>sun                 1300-1600
 <br>
 <br>hanwell, perivale
 <br>tues, thurs     1000-1300 1400-1800
 <br>fri             1000-1300 1400-1700
 <br>sat             0900-1300 1400-1700
 <br>
 <br>west ealing
 <br>tues, thurs         0900-1800
 <br>wed, fri, sat       0900-1700
 <br>
 <h4>Hamm and Ful</h4>
 Askew Rd
  <br>Tue,Thur 10:00-20:00
  <br>Mon,Wed,Fri,Sat 10:00-17:00
  	 <br>
  	 <br>Shepherds Bush
  	 <br>Mon-Fri 10:00-20:00
  <br>Sat 10:00-17:00
 <br> 	Sun 11:00-
  	 <br> 
 <h4> hillingdon 2 * 60mins
 </h4> 
 hayes end , charville
 <br> mon , thur 0930-1900
 <br> tues, wed, fri 0930-1730
 <br> sat 0930-1600
 <br> 
 <br> 
 <br> oak farm
 <br> mon , thur 0900-1900
 <br> tues, wed, fri 0900-1730
 <br> sat 0900-1600
 <br> 
 <br> manor farm
 <br> mon tue wed.thur.0900-2000
 <br> fri 0900-1730
 <br> sat 0900-1700
 <br> 
 <h4> hounslow    D0000 000 738380      yob</h4>
 name.address   driv.lic utility bank.stat
 <br> signat   .......        driv.lic passp cred.card 
 <br> 
 <br> brentford
 <br> mon, thur   .....     0930-2000
 <br> tues, sat               0930-1730
 <br> 
 <br> hounslow lib
 <br> mon, wed, fri, sat      0930-1730
 <br> tues, thurs                  0930-2000
 <br> sun                              1130-1600
 <br> 
 <br> osterley
 <br> mon, thur                   0930-2000
 <br> tues, sat                      0930-1730
 <br> 
 <br> heston
 <br> mon, thur    .               0930-2000
 <br> tue, wed, fri, sat         0930-1730
 <br> 
 <br> beavers           Salisbury Road, TW4 7NW.      020 8572 6995
 <br> mon, tue, wed, thur 0900-1500
 <br> sat                 0900-1300
<a style="color:PowderBlue;" href="#top"> Top </a> 
 <br> 
 <h3 id="Shops">Shops</h3> 
 <br> brentford shellfish
<br> thur, fri, sat   11:00-17:00
 <br> sun 11:00-15-00
 <br>
 <br>Big Bites
 	 <br> mon-sun -17:00
 	 <br> 
 	<br> Royal Harvester
 <br>bkfst mon-sun #4.99.#2.99 #2.25 09:00-11:00
 <br>  restaurant mon-sun 11:30-22:00
<br>
<br>Time cafe 8847-5777 07576-551161
<br>0830-2400
<br>
 <br>Ran Thai Thur-Sun 12:00-14:30
  <br>
  <br>Bawarchi 12:00-14:30 18:00-23:00 Tue-Sun incl BH
  Sun and Tue free chick pakora. function room.
 <br>
 <br>Hong Kong Garden
 <br>Tue-Sun 17:00-00:00+
 <br>
  <br>St.PaulsOpen House Cafe
<br>Tue-Fri 09:00-14:00
<br>
  	
  	  <a style="color:PowderBlue;" href="#top"> Top </a> 

  	<h3 id="Monday">Monday</h3> 
	
 ealing central   0900-1700<br>
 brentford 0930-2000<br> <br>
 Askew Rd 10:00-17:00<br>
 Shepherds Bush 10:00-20:00<br> 
 hayes end , charville 0930-1900<br> 
 oak farm 0900-1900<br> 
 manor farm0900-2000<br> 
  
  hounslow lib 0930-1730 
 <br> osterley 0930-2000<br> 
  heston 0930-2000<br> 
  beavers 0900-1500
   <a style="color:PowderBlue;" href="#top"> Top </a> 
 <h3 id="Tuesday">Tuesday</h3>    
	  west ealing 0900-1800
 <br>
 brentford  0930-1730
 <br> <br> 
  ealing central  0900-1900<br>
 hanwell, perivale1000-1300 1400-1800
 <br>
 
 Askew Rd 10:00-20:00
  	 <br>
  	 Shepherds Bush 10:00-20:00
  	 <br> 
 hayes end , charville 0930-1730<br> 
  oak farm 0900-1730
  
 <br> manor farm  0900-2000
  
 <br> 
  
 <br> hounslow lib  0930-2000
 <br> 
 <br> osterley  0930-1730
 <br> 
  heston    0930-1730
 <br> 
  beavers    0900-1500  
  	    <a style="color:PowderBlue;" href="#top"> Top </a> 
  	     	<h3 id="Wednesday">Wednesday</h3>    	 
  west ealing   0900-1700
 <br>
 hounslow lib     0930-1730
 <br> <br> 
   ealing central
 <br>          0900-1900

 Askew Rd 10:00-17:00
  	 
  	 <br>Shepherds Bush 10:00-20:00
  	 <br> 
 hayes end , charville
 <br>  0930-1730
 <br> oak farm 0900-1730
 <br> manor farm  0900-2000
 <br> heston       0930-1730
 <br> beavers          0900-1500
  <a style="color:PowderBlue;" href="#top"> Top </a> 
 
   	    	<h3 id="Thursday">Thursday</h3>    	      	       
west ealing 09:00-18:00
 <br>	
 brentford   09:30-20:00
 <br>      <br>      
  	    ealing central
 <br>thurs               0900-2000
 <br>hanwell, perivale
 <br>tues, thurs     1000-1300 1400-1800
 <br>tues, thurs         0900-1800
 <br>
 Askew Rd
  <br>Tue,Thur 10:00-20:00
  	 <br>Shepherds Bush
  	 <br>Mon-Fri 10:00-20:00
  	 <br> 
 hayes end , charville
 <br> mon , thur 0930-1900
 <br> oak farm
 <br> mon , thur 0900-1900
 <br> manor farm
 <br> mon tue wed.thur.0900-2000
 <br> mon, thur   .....     0930-2000
 <br> hounslow lib
 <br> tues, thurs                  0930-2000
 <br> osterley
 <br> mon, thur                   0930-2000
 <br> heston
 <br> mon, thur    .               0930-2000
 <br> beavers         
 <br> mon, tue, wed, thur 0900-1500
 <a style="color:PowderBlue;" href="#top"> Top </a> 

  	    	<h3 id="Friday">Friday</h3>    	         
      west ealing       0900-1700
 <br>
  hounslow lib     0930-1730
 <br> 
 <br> 
  ealing central
 <br>mon, fri, sat      0900-1700
 <br>tues, wed            0900-1900
 <br>thurs               0900-2000
 <br>sun                 1300-1600
 <br>
 <br>hanwell, perivale
 <br>tues, thurs     1000-1300 1400-1800
 <br>fri             1000-1300 1400-1700
 <br>sat             0900-1300 1400-1700
 <br>
 <br>tues, thurs         0900-1800
 <br>wed, fri, sat       0900-1700
 <br>
 Askew Rd
  <br>Tue,Thur 10:00-20:00
  <br>Mon,Wed,Fri,Sat 10:00-17:00
  	 <br>
  	 <br>Shepherds Bush
  	 <br>Mon-Fri 10:00-20:00
  <br>Sat 10:00-17:00
 <br> 	Sun 11:00-
  	 <br> 
 hayes end , charville
 <br> mon , thur 0930-1900
 <br> tues, wed, fri 0930-1730
 <br> sat 0930-1600
 <br> 
 <br> 
 <br> oak farm
 <br> mon , thur 0900-1900
 <br> tues, wed, fri 0900-1730
 <br> sat 0900-1600
 <br> 
 <br> manor farm
 <br> mon tue wed.thur.0900-2000
 <br> fri 0900-1730
 <br> sat 0900-1700
 <br> 
 <br> brentford
 <br> mon, thur   .....     0930-2000
 <br> tues, sat               0930-1730
 <br> 
 <br> tues, thurs                  0930-2000
 <br> sun                              1130-1600
 <br> 
 <br> osterley
 <br> mon, thur                   0930-2000
 <br> tues, sat                      0930-1730
 <br> 
 <br> heston
 <br> mon, thur    .               0930-2000
 <br> tue, wed, fri, sat         0930-1730
 <br> 
 <br> beavers           Salisbury Road, TW4 7NW.      020 8572 6995
 <br> mon, tue, wed, thur 0900-1500
 <br> sat                 0900-1300 	               
  	 <a style="color:PowderBlue;" href="#top"> Top </a> 

    	<h3 id="Saturday">Saturday</h3> <br>   	                                     
    west ealing      0900-1700
 <br>      
   brentford    0930-1730
 <br>    <br>       
   ealing central
 <br>mon, fri, sat      0900-1700
 <br>tues, wed            0900-1900
 <br>thurs               0900-2000
 <br>sun                 1300-1600
 <br>
 <br>hanwell, perivale
 <br>tues, thurs     1000-1300 1400-1800
 <br>fri             1000-1300 1400-1700
 <br>sat             0900-1300 1400-1700
 <br>
 <br>
 Askew Rd
  <br>Tue,Thur 10:00-20:00
  <br>Mon,Wed,Fri,Sat 10:00-17:00
  	 <br>
  	 <br>Shepherds Bush
  	 <br>Mon-Fri 10:00-20:00
  <br>Sat 10:00-17:00
 <br> 	Sun 11:00-
  	 <br> 
 hayes end , charville
 <br> mon , thur 0930-1900
 <br> tues, wed, fri 0930-1730
 <br> sat 0930-1600
 <br> 
 <br> 
 <br> oak farm
 <br> mon , thur 0900-1900
 <br> tues, wed, fri 0900-1730
 <br> sat 0900-1600
 <br> 
 <br> manor farm
 <br> mon tue wed.thur.0900-2000
 <br> fri 0900-1730
 <br> sat 0900-1700
 <br> 
 <br> 
 <br> hounslow lib
 <br> mon, wed, fri, sat      0930-1730
 <br> tues, thurs                  0930-2000
 <br> sun                              1130-1600
 <br> 
 <br> osterley
 <br> mon, thur                   0930-2000
 <br> tues, sat                      0930-1730
 <br> 
 <br> heston
 <br> mon, thur    .               0930-2000
 <br> tue, wed, fri, sat         0930-1730
 <br> 
 <br> beavers           Salisbury Road, TW4 7NW.      020 8572 6995
 <br> mon, tue, wed, thur 0900-1500
 <br> sat                 0900-1300	                           
 
  	<h3 id="Sunday">Sunday</h3> <br>                           
 ealing central 1300-1600<br>
 cybercafe          11:00-19:00<br>
 hounslow lib  1130-1600<br> <br>
 Shepherds Bush 11:00<br> 
 hounslow lib  1130-1600<br> 
 
                                                               
  	                                                                                                     
  	                                                                                                                                      
  	                                                                                                                                                                                                        
<a style="color:PowderBlue;" href="#top"> Top </a> 


 <h3 id="OG">OG</h3> 
<br>
<h3>Phone and email</h3>
Lycamobole 07440 277063<br>
<br>towerarms1000
<br>slp	60-06-36/34556087
<br>ogsoc	20-27-48/93761053
<br>ogcom	20-27-48/135483
25
<br>hcp	20-73-53/63759512
brhouns --------738380
</html>
