<html>
    <head>
        <title>Barbecue</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            body                   {padding-left:18px;background-color:#F3FFF3}
            p                      {font-size:large;font-weight:bold;color:#0000C0;background-color:#F3FFF3;}
            h1                     {font-size:large;font-weight:bold;color:#000000;background-color:#F3FFF3;}
            table tr td            {font-size:large;font-weight:bold;color:#0000C0;background-color:#F3FFF3;}
        </style>
    </head>
    <body>
        <h1>DEFINITES</h1>
        <table>
            <tr><td>
            <tr><td>  </td></tr>
            <tr><td>Harry Stock</td><td></td><td>      </td><td>       </td><td>   </td></tr>
            <tr><td>Liz</td></td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>Angela ( plus Tallulah )    </td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>Richard Melmoth</td></td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>Dipal ( D on Meetup )     </td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>Brian (bg on Meetup )     </td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>Nella     </td><td>         </td><td></td><td></td><td></td></tr>
            <tr><td>     </td><td>         </td><td></td><td></td><td></td></tr>
        </table>
        <h1>POSSIBLES</h1>
        <table>
            <tr><td>
            <tr><td>Raj</td></tr>
        </table>
    </body>
</html>

