{% extends "contacts/base.html" %}

{% block content %}
    <div class="person">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url "person_edit" pk=person.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'person_remove' pk=person.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <p>{{ person.first_name }}</p>
        <p>{{ person.second_name }}</p>
        <p>{{ person.name_in_esg }}</p>
        <p>{{ person.email }}</p>
        <p>{{ person.phone_a }}</p>
        <p>{{ person.phone_b }}</p>
    </div>
{% endblock %}
